<ion-header mode="md">
    <ion-toolbar class="ion-no-margin">
        <ion-chip slot="start" class="remove-background" (click)="goBackHome()">
            <ion-icon class="icon-remove-margin" name="close-outline" color="dark"></ion-icon>
        </ion-chip>
        <ion-title>List of Seats</ion-title>
        <ion-chip slot="end" class="remove-background " (click)="util.openContest()">
            <ion-icon class="icon-remove-margin" [class.contest]="contest" name="ribbon-outline" color="danger"></ion-icon>
        </ion-chip>
        <ion-badge slot="end" mode="ios" class="contest-badge" color="danger">{{contestBadge}}</ion-badge>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="currency_accet" *ngFor="let item of users">
        <ion-avatar>
            <img class="img" [src]="item.picture" />
        </ion-avatar>
        <div class="detail">
            <div class="up_div">
                <ion-label class="title">{{item.fullname}}</ion-label>
                <ion-label class="price">{{getActualDate(item.date)}}</ion-label>
            </div>
            <div class="down_div">
                <ion-label class="type">
                    <ion-label class="status" color="danger">{{item.email}}</ion-label>
                </ion-label>

            </div>
        </div>
    </div>
</ion-content>