ion-header {
    ion-toolbar {
        .chikni {
            font-size: 12px;
            position: absolute;
            left: 15px;
            top: 0px;
        }
        ion-title {
            text-align: center;
        }
    }
}

.icon-remove-margin {
    margin: 0px;
}

.remove-background {
    background-color: transparent;
}

.contest {
    box-shadow: 0 0 0 rgba(204, 169, 44, 0.4);
    animation: pulse 2s infinite;
    border-radius: 50%;
}

.contest-badge {
    position: absolute;
    right: 33px;
    top: 4px;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
    }
    70% {
        -webkit-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    }
}

@keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
        box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
        box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
        box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    }
}

.main_content {
    .cover {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        .user_image {
            width: 150px;
            height: 150px;
        }
    }
    .share-text {
        text-align: center;
        font-size: 14px;
        margin-top: 24px;
        color: gray;
    }
}

.card {
    background-color: white;
    border-radius: 15px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 10px var(--box-shadow-color);
    --box-shadow-color: #d7d8da;
    margin: 7px 0px;
    .text {
        font-family: "medium";
        font-size: 14px;
    }
    .rate {
        font-family: "medium";
        font-size: 34px;
        text-align: center;
    }
    .status {
        font-family: "semi-bold";
        font-size: 14px;
    }
}