<ion-header mode="md">
    <ion-toolbar class="ion-no-margin">
        <ion-chip slot="start" class="remove-background" (click)="goBackHome()">
            <ion-icon class="icon-remove-margin" name="arrow-back-outline" color="dark"></ion-icon>
        </ion-chip>
        <ion-title>Tutrain</ion-title>
        <ion-chip slot="end" class="remove-background " (click)="util.openMenu()">
            <ion-icon class="icon-remove-margin contest " name="ribbon-outline" color="danger"></ion-icon>
        </ion-chip>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="main-content">
        <div class="heading">
            <ion-label>Contact us</ion-label>
        </div>
        <div class="line">
            <div class="border"></div>
            <ion-icon name="square-outline"></ion-icon>
        </div>

        <div class="contact">
            <div class="contact-icon">
                <ion-icon name="chatbubble-ellipses-outline"></ion-icon>
            </div>

            <div class="contact-detail">
                Need an ASAP answer? Contact us via chat, 24/7! Or call us on <a href="tel:+968 24523456">+968 24523456</a>.
            </div>

            <div class="contact-btn">
                <ion-button (click)="goToWhatsApp()" expand="full" color="dark">Chat with us
                </ion-button>
            </div>
        </div>

        <div class="contact">
            <div class="contact-icon">
                <ion-icon name="mail-open-outline"></ion-icon>
            </div>

            <div class="contact-detail">
                You can email us with your issue, make sure to fully describe your issue to be able fully understand your issue and response accordingly
            </div>

            <div class="contact-btn">
                <ion-button expand="full" (click)="goToEmail()" color="dark">Email with us
                </ion-button>
            </div>
        </div>



        <div class="footer">
            <div class="page-center">
                <ion-icon name="logo-twitter" (click)="openTwitter()"></ion-icon>
                <ion-icon name="logo-instagram" (click)="openInstagram()"></ion-icon>
                <ion-icon name="logo-youtube" (click)="openYoutube()"></ion-icon>
                <ion-icon name="logo-facebook" (click)="openFacebook()"></ion-icon>
            </div>

            <div>
                <div class="line">
                    <div class="border"></div>
                    <ion-icon name="square-outline"></ion-icon>
                </div>

                <div class="contact">
                    <ion-label><a href="mailto:support@tutrainapp.com">support@tutrainapp.com</a></ion-label>
                    <ion-label><a href="tel:+968 24523456">+968 24523456</a></ion-label>
                    <ion-label>8:00 AM - 4:00 PM - Sunday - Thursday</ion-label>
                </div>

                <div class="line">
                    <div class="border"></div>
                    <ion-icon name="square-outline"></ion-icon>
                </div>
            </div>

            <div class="copyright">
                <ion-label>Copyright &copy; TutrainApp All Rights Reserved.</ion-label>
            </div>
        </div>


    </div>
</ion-content>