<ion-header mode="md">
    <ion-toolbar class="ion-no-margin">
        <ion-chip slot="start" class="remove-background" (click)="goBackHome()">
            <ion-icon class="icon-remove-margin" name="arrow-back-outline" color="dark"></ion-icon>
        </ion-chip>
        <ion-title>Contest</ion-title>

    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="content" *ngIf="!isAnswered">
        <div class="img_box">
            <img src="https://via.placeholder.com/684x587">
        </div>
        <div *ngIf="contest">
            <div *ngFor="let item of contest">
                <div class="text_box ion-text-center" *ngFor="let questions of item.contest_question ">
                    <h3 [innerHTML]="questions.question"></h3>
                    <div class="features">
                        <ion-radio-group [(ngModel)]="contestAnswerer">
                            <ion-item class="animate__animated animate__zoomIn" *ngFor="let answerers of questions.question_choice">
                                <ion-label>{{answerers.answerer}}</ion-label>
                                <ion-radio slot="start" value="{{answerers.id}}"></ion-radio>
                            </ion-item>
                        </ion-radio-group>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="!contest">
            <div class="text_box ion-text-center">
                <h1>
                    <ion-skeleton-text animated></ion-skeleton-text>
                </h1>
                <h2>
                    <ion-skeleton-text animated></ion-skeleton-text>
                </h2>
            </div>
            <div class="features">
                <p class="d-flex">
                    <ion-skeleton-text animated style="width: 90%"></ion-skeleton-text>
                </p>
                <p class="d-flex">
                    <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                </p>
                <p class="d-flex">
                    <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
                </p>
            </div>
        </div>
    </div>
    <div class="content" *ngIf="isAnswered">
        <div class="img_box">
            <img src="https://via.placeholder.com/684x587">
        </div>
        <div *ngIf="contest">
            <div *ngFor="let item of contest">
                <div class="text_box ion-text-center" *ngFor="let questions of item.contest_question ">
                    <h3 [innerHTML]="questions.question"></h3>
                    <div class="features">
                        <ion-radio-group [(ngModel)]="contestAnswerer">
                            <ion-item class="animate__animated animate__zoomIn" *ngFor="let answerers of questions.question_choice">
                                <ion-label>{{answerers.answerer}}</ion-label>
                                <ion-radio slot="start" [value]="answerers.id" [disabled]="disabled"></ion-radio>
                            </ion-item>
                        </ion-radio-group>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="!contest">
            <div class="text_box ion-text-center">
                <h1>
                    <ion-skeleton-text animated></ion-skeleton-text>
                </h1>
                <h2>
                    <ion-skeleton-text animated></ion-skeleton-text>
                </h2>
            </div>
            <div class="features">
                <p class="d-flex">
                    <ion-skeleton-text animated style="width: 90%"></ion-skeleton-text>
                </p>
                <p class="d-flex">
                    <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                </p>
                <p class="d-flex">
                    <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
                </p>
            </div>
        </div>
    </div>
</ion-content>

<ion-footer *ngIf="!isAnswered">
    <ion-toolbar>
        <ion-item lines="none" (click)="submitAnswer()" [disabled]="isDisabled">
            <ion-label>Submit your answer</ion-label>
        </ion-item>
    </ion-toolbar>
</ion-footer>