<ion-header mode="md">
    <ion-toolbar class="ion-no-margin">
        <ion-chip slot="start" class="remove-background" (click)="goBackHome()">
            <ion-icon class="icon-remove-margin" name="arrow-back-outline" color="dark"></ion-icon>
        </ion-chip>
        <ion-title>Tutrain</ion-title>
        <ion-chip slot="end" class="remove-background " (click)="util.openContest()">
            <ion-icon class="icon-remove-margin" [class.contest]="contest" name="ribbon-outline" color="danger"></ion-icon>
        </ion-chip>
        <ion-badge slot="end" mode="ios" class="contest-badge" color="danger">{{contestBadge}}</ion-badge>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div *ngIf="user">
        <div *ngIf="!user.introvideo" class="img" [style.backgroundImage]="'url('+user.picture+')'">
            <ul>
                <li class="icon">
                    <ion-icon class="back" name="alert-circle-outline" (click)="reportTutor()"></ion-icon>
                </li>
                <li class="phone" *ngIf="user.is_phone">
                    <ion-icon class="back" name="call-outline" (click)="dialNumber()"></ion-icon>
                </li>
                <li class="email" *ngIf="user.is_email">
                    <ion-icon class="back" name="send-outline" (click)="sendEmail()"></ion-icon>
                </li>
                <li class="whatsapp" *ngIf="user.is_whatapp">
                    <ion-icon class="back" name="logo-whatsapp" (click)="sendWhatapp()"></ion-icon>
                </li>
            </ul>
        </div>
        <div *ngIf="user.introvideo">
            <video controls preload="auto" width="100%" height="300px">
                <source [src]="user.introvideo" type="video/mp4">
            </video>
        </div>
        <div class="main-content">
            <div class="uper_div">
                <div class="item">
                    <ion-label class="name">{{user.fullname}}</ion-label>
                    <ion-badge class="badge">{{user.degree}}</ion-badge>
                </div>
                <div class="item">
                    <ion-label class="text"> {{user.address}}</ion-label>
                    <!-- <ion-label class="distance"></ion-label> -->
                </div>
                <div class="line"></div>
                <div>
                    <ion-icon class="icon" name="school-outline"></ion-icon>
                    <ion-label class="text">{{user.specialization}}</ion-label>
                </div>
                <div>
                    <ion-icon class="icon" name="file-tray-outline"></ion-icon>
                    <ion-label class="text">{{user.tags}}</ion-label>
                </div>
                <div class="about">
                    <div class="title">
                        <ion-label>About</ion-label>
                    </div>
                    <div class="text">
                        <ion-label>{{user.about}}</ion-label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ion-content>
<ion-footer *ngIf="user">
    <ion-toolbar>
        <ion-item lines="none" (click)="bookTutor()">
            <ion-label>Book</ion-label>
            <ion-label slot="end">{{user.fullname}}</ion-label>
        </ion-item>
    </ion-toolbar>
</ion-footer>