ion-header {
    ion-toolbar {
        .chikni {
            font-size: 12px;
            position: absolute;
            left: 15px;
            top: 0px;
        }
        ion-title {
            text-align: center;
        }
    }
}
.adjust-margin{
    margin-top: -21px !important;
}
.center-null {
    text-align: center;
}
.icon-remove-margin {
    margin: 0px;
}

.remove-background {
    background-color: transparent;
}

.contest {
    box-shadow: 0 0 0 rgba(204, 169, 44, 0.4);
    animation: pulse 2s infinite;
    border-radius: 50%;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
    }
    70% {
        -webkit-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    }
}

@keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
        box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
        box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
        box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    }
}
ion-content{
    .main_content_div{
        padding: 20px;
        .card {
            background-color: rgb(245, 245, 245);
            border-radius: 15px;
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 20px;
            position: relative;
            margin-bottom: 10px;
            
            .title {
            display: flex;
            flex-direction: column;
            .name {
                font-size: 13px;
                color: var(--ion-color-medium);
                font-family: "medium";
            }
            .dollar {
                font-size: 16px;
                font-weight: bold;
                padding-bottom: 5px;
            }
            }
            .date {
            position: absolute;
            right: 20px;
            font-size: 14px;
            color: var(--ion-color-medium);
            font-weight: bold;
            }
        }
    }
}
