<ion-header mode="md">
    <ion-toolbar class="ion-no-margin">
        <ion-chip slot="start" class="remove-background" (click)="goBackHome()">
            <ion-icon class="icon-remove-margin" name="arrow-back-outline" color="dark"></ion-icon>
        </ion-chip>
        <ion-title>Tutrain</ion-title>
        <ion-chip slot="end" class="remove-background " (click)="util.openMenu()">
            <ion-icon class="icon-remove-margin contest " name="ribbon-outline" color="danger"></ion-icon>
        </ion-chip>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <div class="account" *ngIf="user">
        <div class="info">
            <ion-item lines="none">
                <ion-thumbnail>
                    <img [src]="user.picture" />
                </ion-thumbnail>
                <div class="name">
                    <ion-label class="name_lbl">{{user.fullname}}</ion-label>
                    <ion-label class="prgrm_lbl">{{user.type}}</ion-label>
                </div>
                <ion-button slot="end" shape="round">
                    Edit
                </ion-button>
            </ion-item>
        </div>
    </div>
    <div class="account" *ngIf="tutor">
        <div class="info">
            <ion-item lines="none">
                <div class="name">
                    <ion-label class="scnd_lbl">Total Earnings</ion-label>
                    <ion-label class="frst_lbl">{{wallet | number : '1.3-3'}}</ion-label>
                </div>
                <ion-button class="request-btn" [disabled]="isDisablied" (click)="payoutRequest()" slot="end" shape="round">
                    Request Payout
                </ion-button>
            </ion-item>
        </div>
    </div>


    <div class="account" *ngIf="tutor">
        <ion-label class="head_lbl">Content</ion-label>
        <div class="info">
            <ion-item lines="none" (click)="goToCourses()">
                <ion-icon name="school-outline" color="primary" style="margin-right: 10px;"></ion-icon>
                <ion-label>Your Course</ion-label>
                <ion-icon slot="end" name="chevron-forward" color="medium"></ion-icon>
            </ion-item>
            <ion-item lines="none" (click)="goToSession()">
                <ion-icon name="people-outline" color="primary" style="margin-right: 10px;"></ion-icon>
                <ion-label>Your Training Sessions</ion-label>
                <ion-icon slot="end" name="chevron-forward" color="medium"></ion-icon>
            </ion-item>

        </div>
    </div>

    <div class="nitification">
        <ion-label class="head_lbl">Notification</ion-label>
        <ion-item lines="none">
            <ion-icon name="notifications-outline" color="primary" style="margin-right: 10px;"></ion-icon>
            <ion-label>Pop-out Notificatioon</ion-label>
            <ion-toggle mode="ios" color="danger" checked></ion-toggle>
        </ion-item>
    </div>

    <div class="other">
        <ion-label class="head_lbl">Other</ion-label>
        <ion-item lines="none" (click)="goToContactUs()">
            <ion-icon name="help-circle-outline" color="primary" style="margin-right: 10px;"></ion-icon>
            <ion-label>Help</ion-label>
            <ion-icon slot="end" name="chevron-forward" color="medium"></ion-icon>
        </ion-item>
        <ion-item lines="none" (click)="goToPrivacy()">
            <ion-icon name="checkbox-outline" color="primary" style="margin-right: 10px;"></ion-icon>
            <ion-label>Privacy Policy</ion-label>
            <ion-icon slot="end" name="chevron-forward" color="medium"></ion-icon>
        </ion-item>
    </div>
</ion-content>