<ion-header mode="md">
  <ion-toolbar class="ion-no-margin">
      <ion-chip slot="start" class="remove-background" (click)="goBackHome()">
          <ion-icon class="icon-remove-margin" name="arrow-back-outline" color="dark"></ion-icon>
      </ion-chip>
      <ion-title>Tutrain</ion-title>
      <ion-chip slot="end" class="remove-background " (click)="util.openMenu()">
          <ion-icon class="icon-remove-margin contest " name="ribbon-outline" color="danger"></ion-icon>
      </ion-chip>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div class="content_div">
        <div class="menu_div">
            <div class="menu_box" (click)="goToAccInfo()">
            <div class="color_box" style="background: var(--ion-color-primary);">
                <ion-icon name="person"></ion-icon>
            </div>
            <ion-label>Account Information</ion-label>
            <ion-icon name="chevron-forward" class="arrow_icn"></ion-icon>
            </div>
            <div class="menu_box" (click)="goToMyPosts()">
            <div class="color_box" style="background: black;">
                <ion-icon name="document-text"></ion-icon>
            </div>
            <ion-label>My Posts</ion-label>
            <ion-icon name="chevron-forward" class="arrow_icn"></ion-icon>
            </div>
            <div class="menu_box" (click)="goToMyOrders()">
            <div class="color_box" style="background: #03b989;">
                <ion-icon name="cart"></ion-icon>
            </div>
            <ion-label>My Order</ion-label>
            <ion-icon name="chevron-forward" class="arrow_icn"></ion-icon>
            </div>
            <div class="menu_box" (click)="goToPaymentMethod()">
            <div class="color_box" style="background: #f9b600;">
                <ion-icon name="wallet"></ion-icon>
            </div>
            <ion-label>Payment Method</ion-label>
            <ion-icon name="chevron-forward" class="arrow_icn"></ion-icon>
            </div>
            <div class="menu_box" style="border: 0px;" (click)="goToAddresses()">
            <div class="color_box" style="background: #874cfc;">
                <ion-icon name="location"></ion-icon>
            </div>
            <ion-label>Delivery Address</ion-label>
            <ion-icon name="chevron-forward" class="arrow_icn"></ion-icon>
            </div>
        </div>
    </div>
</ion-content>
