ion-header {
    ion-toolbar {
        .chikni {
            font-size: 12px;
            position: absolute;
            left: 15px;
            top: 0px;
        }
        ion-title {
            text-align: center;
        }
    }
}

.icon-remove-margin {
    margin: 0px;
}

.remove-background {
    background-color: transparent;
}

.contest {
    box-shadow: 0 0 0 rgba(204, 169, 44, 0.4);
    animation: pulse 2s infinite;
    border-radius: 50%;
}

.contest-badge {
    position: absolute;
    right: 33px;
    top: 4px;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
    }
    70% {
        -webkit-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    }
}

@keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
        box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
        box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
        box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    }
}

ion-content {
    ion-item {
        margin-top: 10px;
        ion-thumbnail {
            margin-right: 20px;
            img {
                height: 60px;
                width: 60px;
                border-radius: 50%;
            }
        }
        .name {
            display: flex;
            flex-direction: column;
            .name_lbl {
                margin-bottom: 5px;
                font-family: "medium";
            }
            .prgrm_lbl {
                font-size: 14px;
            }
        }
        ion-button {
            width: 70px;
            height: 30px;
        }
    }
    ion-row {
        margin-top: 2rem;
        ion-col {
            box-shadow: 1px 3px 10px var(--box-shadow-color);
            --box-shadow-color: lightgray;
            border-radius: 10px;
            .data {
                display: flex;
                flex-direction: column;
                text-align: center;
                .frst_lbl {
                    color: var(--ion-color-primary);
                    font-weight: bold;
                }
                .scnd_lbl {
                    margin-top: 5px;
                    font-size: 14px;
                    margin-bottom: 5px;
                }
            }
        }
    }
    .account {
        box-shadow: 1px 3px 10px var(--box-shadow-color);
        --box-shadow-color: lightgray;
        padding: 10px;
        margin-top: 1rem;
        border-radius: 10px;
        .head_lbl {
            font-size: 18px;
            font-family: "semi-bold";
        }
        .info {
            ion-icon {
                font-size: 20px;
            }
            ion-label {
                font-size: 14px;
            }
            .request-btn {
                width: 150px;
            }
        }
    }
    .nitification {
        box-shadow: 1px 3px 10px var(--box-shadow-color);
        --box-shadow-color: lightgray;
        padding: 10px;
        margin-top: 1rem;
        border-radius: 10px;
        .head_lbl {
            font-size: 18px;
            font-family: "semi-bold";
        }
        ion-item {
            ion-icon {
                font-size: 20px;
            }
            ion-label {
                font-size: 14px;
            }
        }
    }
    .other {
        box-shadow: 1px 3px 10px var(--box-shadow-color);
        --box-shadow-color: lightgray;
        padding: 10px;
        margin-top: 1rem;
        border-radius: 10px;
        .head_lbl {
            font-size: 18px;
            font-family: "semi-bold";
        }
        ion-item {
            ion-icon {
                font-size: 20px;
            }
            ion-label {
                font-size: 14px;
            }
        }
    }
}

.test {
    width: auto !important;
    padding: 0px !important;
}

ion-button::part(native) {
    padding: 0px !important;
}