<ion-header mode="md">
  <ion-toolbar class="ion-no-margin">
      <ion-chip slot="start" class="remove-background" (click)="goBackHome()">
          <ion-icon class="icon-remove-margin" name="arrow-back-outline" color="dark"></ion-icon>
      </ion-chip>
      <ion-title>Tutrain</ion-title>
      <ion-chip slot="end" class="remove-background " (click)="util.openContest()">
          <ion-icon class="icon-remove-margin" [class.contest]="contest" name="ribbon-outline" color="danger"></ion-icon>
      </ion-chip>
      <ion-badge slot="end" mode="ios" class="contest-badge" color="danger">{{contestBadge}}</ion-badge>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
    <h2 class="head-title"> Change your password </h2>
    <form (ngSubmit)="changePassword()" novalidate [formGroup]="passwordChange">
        <ion-item style="margin-top: 50px;">
            <ion-label position="stacked">Old Password</ion-label>
            <ion-input type="password" formControlName="oldpassword"  ></ion-input>
        </ion-item>
        <span class="error-message" *ngIf="isSubmitted && errorControl.oldpassword.errors?.required" >Please enter your old password</span>

        <ion-item style="margin-top: 50px;">
          <ion-label position="stacked">New Password</ion-label>
          <ion-input type="password" formControlName="newpassword" ></ion-input>
        </ion-item>
        <span class="error-message" *ngIf="isSubmitted && errorControl.newpassword.errors?.required" >Please enter a new password</span>
        <span class="error-message" *ngIf="isSubmitted && errorControl.newpassword.errors?.minlength" >Your password should be a minimum of 8 characters</span>

        <ion-item style="margin-top: 50px;">
          <ion-label position="stacked">Confirm Password</ion-label>
          <ion-input type="password" formControlName="confirmnewpassword" ></ion-input>  
        </ion-item>
        <span class="error-message" *ngIf="isSubmitted && errorControl.confirmnewpassword.errors?.required" >Please re-enter your password</span>
        <span class="error-message" *ngIf="isSubmitted && errorControl.confirmnewpassword.errors?.confirmedValidator" >Your password doesnt match</span> 

        <ion-button expand="block" type="submit" shape="round" class="login-btn" [disabled]="isDisablied">
            Change Password
          </ion-button>
    </form>
  </ion-content>
