<ion-header mode="ios">
    <ion-toolbar>
        <ion-button (click)="goBack()" fill="clear" mode="ios">
            <ion-icon name="chevron-back" color="dark"></ion-icon>
        </ion-button>
        <ion-title>{{ "forgotpassword.title" | translate }}</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div class="main_content_div">
        <ion-label class="grey_lbl">{{ "forgotpassword.paragraph" | translate }}</ion-label>
        <ion-input type="text" type="email" placeholder="{{ 'forgotpassword.email' | translate }}"></ion-input>
        <ion-button expand="block" mode="ios" class="block_btn" (click)="goToVerification()">
            {{ "forgotpassword.btn" | translate }}
        </ion-button>
    </div>
</ion-content>