ion-header {
    ion-toolbar {
        .chikni {
            font-size: 12px;
            position: absolute;
            left: 15px;
            top: 0px;
        }
        ion-title {
            text-align: center;
        }
    }
}

.center-null {
    text-align: center;
}

.segment-toolbar {
    --min-height: 32px;
}

.adjust-margin {
    margin-top: -1px !important;
}

.icon-remove-margin {
    margin: 0px;
}

.remove-background {
    background-color: transparent;
}

.contest {
    box-shadow: 0 0 0 rgba(204, 169, 44, 0.4);
    animation: pulse 2s infinite;
    border-radius: 50%;
}

.contest-badge {
    position: absolute;
    right: 33px;
    top: 4px;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
    }
    70% {
        -webkit-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    }
}

@keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
        box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
        box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
        box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    }
}
.card {
    background-color: white;
    border-radius: 15px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 10px var(--box-shadow-color);
    --box-shadow-color: #d7d8da;
    margin: 7px 0px;
    .text {
      font-family: "medium";
      font-size: 14px;
    }
    .rate {
      font-family: "medium";
      font-size: 34px;
    }
    .status {
      font-family: "semi-bold";
      font-size: 14px;
    }

    .currency_accet {
        padding: 10px 0px;
        // border-bottom: 2px solid var(--ion-color-light);
      }
      .btc_div{
          display: flex;
          justify-content: space-between;
          padding-top: 5px;
      }
      .icon{
          display: flex;
          justify-content: flex-end;
      }
      .detail {
        width: 100%;
        display: flex;
        flex-direction: column;
        .up_div {
          display: flex;
          justify-content: space-between;
          .title {
            font-family: "semi-bold";
            font-size: 16px;
          }
          .price {
            font-family: "medium";
            font-size: 13px;
            color: var(--ion-color-medium);
          }
        }
        .down_div {
          display: flex;
          justify-content: space-between;
          .type {
            font-family: "medium";
            font-size: 13px;
            color: var(--ion-color-medium);
          }
          .status {
            font-family: "semi-bold";
            font-size: 13px;
          }
        }
      }
  }
  .currency_accet {
      display: flex;
      flex-direction: row;
      padding: 14px;
     
      
    }