<ion-header mode="md">
  <ion-toolbar class="ion-no-margin">
      <ion-chip slot="start" class="remove-background" (click)="dismissModal()">
          <ion-icon class="icon-remove-margin" name="close" color="dark"></ion-icon>
      </ion-chip>
      <ion-title>Tutrain</ion-title>
      <ion-chip slot="end" class="remove-background " >
          <ion-icon class="icon-remove-margin contest " name="ribbon-outline" color="danger"></ion-icon>
      </ion-chip>
  </ion-toolbar>
</ion-header>
<ion-content>
  Make Payment Page
</ion-content>