<ion-header mode="md">
    <ion-toolbar class="ion-no-margin">
        <ion-chip slot="start" class="remove-background" (click)="goBackHome()">
            <ion-icon class="icon-remove-margin" name="arrow-back-outline" color="dark"></ion-icon>
        </ion-chip>
        <ion-title>Subscription</ion-title>

    </ion-toolbar>
</ion-header>

<ion-content class="bg_color">
    <div class="why_upgrade">
        <h1>Whats the benefit of <br> contest subscription?</h1>

        <div class="features">
            <p class="d-flex">
                <ion-icon class="zmdi zmdi-check-circle"></ion-icon>
                Benefit #1
            </p>
            <p class="d-flex">
                <ion-icon class="zmdi zmdi-check-circle"></ion-icon>
                Benefit #2
            </p>
            <p class="d-flex">
                <ion-icon class="zmdi zmdi-check-circle"></ion-icon>
                Benefit #3
            </p>
        </div>
    </div>
    <ion-list lines="none" *ngIf="subs">
        <ion-item (click)="makePayment(item)" *ngFor="let item of subs">
            <div class="item_inner">
                <h2>{{item.name}}</h2>
                <h3 class="d-flex">
                    {{item.name_type}} <span class="end">{{item.price | number : '1.3-3'}}</span>
                </h3>
            </div>
        </ion-item>
    </ion-list>
    <ion-list lines="none" *ngIf="!subs">
        <ion-item *ngFor="let item of [1,2,3]">
            <div class="item_inner">
                <h2>
                    <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                </h2>
                <h3 class="d-flex">
                    <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text> <span class="end" style="width: 100px;"><ion-skeleton-text animated style="width: 100%"></ion-skeleton-text></span>
                </h3>
            </div>
        </ion-item>
    </ion-list>
</ion-content>