ion-header {
    ion-toolbar {
        .chikni {
            font-size: 12px;
            position: absolute;
            left: 15px;
            top: 0px;
        }
        ion-title {
            text-align: center;
            padding-right: 44px;
        }
    }
}

.icon-remove-margin {
    margin: 0px;
}

.remove-background {
    background-color: transparent;
}

.contest {
    box-shadow: 0 0 0 rgba(204, 169, 44, 0.4);
    animation: pulse 2s infinite;
    border-radius: 50%;
}

.contest-badge {
    position: absolute;
    right: 33px;
    top: 4px;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
    }
    70% {
        -webkit-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    }
}

@keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
        box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
        box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
        box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    }
}
.subscription-image{
    padding: 0px 50px 50px 50px;
}
.sub-header{
    text-align: center;
}
.slider_div {
    width: 100%;
 
    .back_image {
      
      height: 180px;

      .overlay {
        background: #ffffff;
        width: 80%;
        position: absolute;
        bottom: 40px;
        right: 0px;
        padding: 15px;
        box-shadow: 0px 0px 10px var(--box-shadow-color);
        --box-shadow-color: #a8a8a8;
        margin: 7px 0px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        opacity: 0.3;
        .title {
          color: black;
          text-align: center;
          font-weight: bold;
          font-size: 30px;
        }
        p{
            padding: 0;
            margin: 0;
            font-size: 14px;
        }
        .price{
            font-size: 12px;
        }
      }
    }
  }
  .swiper-slide-active div div{
    background: var(--ion-color-primary) !important;
    color: #fff !important;
    opacity: 1 !important;

  }
  .swiper-slide-active .title{
    color: #fff !important;

  }
  ion-slide { 
    right: -47px;
    margin-left: -16px;
}
