ion-header {
    ion-toolbar {
        .chikni {
            font-size: 12px;
            position: absolute;
            left: 15px;
            top: 0px;
        }
        ion-title {
            text-align: center;
        }
    }
}

.icon-remove-margin {
    margin: 0px;
}

.remove-background {
    background-color: transparent;
}

.contest {
    box-shadow: 0 0 0 rgba(204, 169, 44, 0.4);
    animation: pulse 2s infinite;
    border-radius: 50%;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
    }
    70% {
        -webkit-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    }
}

@keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
        box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
        box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
        box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    }
}

.center-null {
    text-align: center;
}

.segment-toolbar {
    --min-height: 32px;
}

.adjust-margin {
    margin-top: -21px !important;
}

ion-content {
    background-color: var(--ion-color-light);
    .main_content_div {
        padding: 14px;
        .overlay {
            position: absolute;
            top: 30px;
        }
        .card {
            background-color: white;
            border-radius: 15px;
            padding: 15px;
            display: flex;
            flex-direction: column;
            box-shadow: 0px 0px 10px var(--box-shadow-color);
            --box-shadow-color: #d7d8da;
            margin: 7px 0px;
            .text {
                font-family: "medium";
                font-size: 14px;
            }
            .rate {
                font-family: "medium";
                font-size: 34px;
            }
            .status {
                font-family: "semi-bold";
                font-size: 14px;
                right: 29px;
                position: absolute;
            }
            .currency_accet {
                padding: 10px 0px;
                border-bottom: 2px solid var(--ion-color-light);
            }
            .btc_div {
                display: flex;
                justify-content: space-between;
                padding-top: 5px;
            }
            .icon {
                display: flex;
                justify-content: flex-end;
            }
        }
    }
    .request {
        margin-top: 2rem;
        ion-label {
            font-size: 16px;
        }
    }
    ion-item {
        margin-top: 1rem;
        ion-thumbnail {
            img {
                border-radius: 50%;
                height: 40px;
                width: 40px;
            }
        }
        .content {
            .name {
                font-size: 16px;
                font-family: "semi-bold";
            }
            .req {
                font-size: 12px;
                margin-top: 5px;
            }
        }
        .close {
            font-size: 20px;
            background: #f6515f1e;
            border-radius: 50%;
            padding: 3px;
        }
        .check {
            font-size: 20px;
            background: #031a70;
            border-radius: 50%;
            padding: 3px;
        }
    }
    hr {
        width: 100%;
        border-bottom: 1px solid lightgrey;
        margin-bottom: 10px;
        margin-top: 10px;
    }
}