<ion-header mode="md">
    <ion-toolbar class="ion-no-margin">
        <ion-chip slot="start" class="remove-background" (click)="goBackHome()">
            <ion-icon class="icon-remove-margin" name="arrow-back-outline" color="dark"></ion-icon>
        </ion-chip>
        <ion-title>{{ "trackrequest.title" | translate }}</ion-title>
        <ion-chip slot="end" class="remove-background " (click)="util.openContest()">
            <ion-icon class="icon-remove-margin" [class.contest]="contest" name="ribbon-outline" color="danger"></ion-icon>
        </ion-chip>
        <ion-badge slot="end" mode="ios" class="contest-badge" color="danger">{{contestBadge}}</ion-badge>
    </ion-toolbar>
    <ion-toolbar class="segment-toolbar">
        <ion-segment [(ngModel)]="section" (ionChange)="showSegment(section)" mode="ios" value="pending">
            <ion-segment-button value="pending">
                <ion-label>{{ "trackrequest.pending" | translate }}</ion-label>
            </ion-segment-button>
            <ion-segment-button value="confirmed">
                <ion-label>{{ "trackrequest.upcoming" | translate }}</ion-label>
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>
</ion-header>

<ion-content>

    <div *ngIf="!requests">
        <div class="main_content_div">
            <div class="card" *ngFor="let item of [1,2,3]">
                <div class="currency_accet">
                    <div class="detail">
                        <div class="up_div">
                            <ion-label class="title">
                                <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                            </ion-label>
                        </div>
                        <div class="down_div">
                            <ion-label class="type">
                                <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                            </ion-label>
                        </div>
                    </div>
                </div>
                <div class="btc_div">
                    <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                    <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="pending">
        <div *ngIf="student" class="main_content_div">
            <div *ngIf="requests">
                <div class="card" *ngFor="let item of requests">
                    <div class="currency_accet">
                        <div class="detail">
                            <div class="up_div">
                                <ion-label class="title">{{item.fullname}}</ion-label>
                            </div>
                            <div class="down_div">
                                <ion-label class="type">{{ "trackrequest.approvemessage" | translate }} {{getActualDate(item.slotDate)}} {{ "trackrequest.from" | translate }}{{item.timefrom}} {{ "trackrequest.to" | translate }}{{item.timeto}}</ion-label>
                            </div>
                        </div>
                    </div>
                    <div class="btc_div">
                        <ion-button [disabled]="isDisablied" (click)="onMakePayment(item.bookid,item.tutorID,item.duration,item.timefrom,item.timeto,item.fullslot)" color="primary">
                            {{ "trackrequest.makepayment" | translate }}
                        </ion-button>
                        <ion-button [disabled]="isDisablied" (click)="onCancelReques(item.bookid)" fill="outline">
                            {{ "trackrequest.cancelrequest" | translate }}
                        </ion-button>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="tutor" class="main_content_div">
            <div *ngIf="requests">
                <div class="card" *ngFor="let item of requests">
                    <div class="currency_accet">
                        <div class="detail">
                            <div class="up_div">
                                <ion-label class="title">{{item.fullname}}</ion-label>
                            </div>
                            <div class="down_div">
                                <ion-label class="type">{{ "trackrequest.sessionmessage" | translate }} {{getActualDate(item.slotDate)}} {{ "trackrequest.from" | translate }}{{item.timefrom}} {{ "trackrequest.to" | translate }}{{item.timeto}}</ion-label>
                            </div>
                        </div>
                    </div>
                    <div class="btc_div">
                        <ion-button [disabled]="isDisablied" (click)="onAccept(item.bookid)" color="primary">
                            {{ "trackrequest.accept" | translate }}
                        </ion-button>
                        <ion-button [disabled]="isDisablied" (click)="onReject(item.bookid)" fill="outline">
                            {{ "trackrequest.reject" | translate }}
                        </ion-button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="confirmed">
        <div *ngIf="student" class="main_content_div">
            <div *ngIf="requests">
                <div class="card" *ngFor="let item of requests">
                    <div>
                        <div class="detail">
                            <div class="up_div">
                                <ion-label class="title">{{item.fullname}}</ion-label>
                            </div>
                            <div class="down_div">
                                <ion-label class="type">{{ "trackrequest.studentmessage" | translate }} {{getActualDate(item.slotDate)}} {{ "trackrequest.from" | translate }}{{item.timefrom}} {{ "trackrequest.to" | translate }}{{item.timeto}}</ion-label>
                            </div>
                            <div class="btc_div" style="justify-content: end;">
                                <ion-button [disabled]="isDisablied" (click)="onCallTutor(item.tutorID)" color="primary">
                                    {{ "trackrequest.calltutor" | translate }}
                                </ion-button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div *ngIf="tutor" class="main_content_div">
            <div *ngIf="requests">
                <div class="card" *ngFor="let item of requests">
                    <div>
                        <div class="detail">
                            <div class="up_div">
                                <ion-label class="title">{{item.fullname}}</ion-label>
                            </div>
                            <div class="down_div">
                                <ion-label class="type">{{ "trackrequest.tutormessage" | translate }} {{getActualDate(item.slotDate)}} {{ "trackrequest.from" | translate }}{{item.timefrom}} {{ "trackrequest.to" | translate }}{{item.timeto}}</ion-label>
                            </div>
                            <div class="btc_div" style="justify-content: end;">
                                <ion-button [disabled]="isDisablied" (click)="onCallStudent(item.userID)" color="primary">
                                    {{ "trackrequest.callstudent" | translate }}
                                </ion-button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="showNull">
        <ion-item class="ion-no-padding adjust-margin">
            <ion-label>
                <h3 class="center-null ">{{ "trackrequest.emptylist" | translate }}</h3>
            </ion-label>
        </ion-item>
    </div>
    <ion-infinite-scroll (ionInfinite)="doInfinite($event) ">
        <ion-infinite-scroll-content loadingSpinner="crescent " loadingText="{{ 'trackrequest.loading6' | translate }}">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>