<ion-header mode="md">
    <ion-toolbar class="ion-no-margin">
        <ion-chip slot="start" class="remove-background" (click)="goBackHome()">
            <ion-icon class="icon-remove-margin" name="arrow-back-outline" color="dark"></ion-icon>
        </ion-chip>
        <ion-title>Tutrain</ion-title>
        <ion-chip slot="end" class="remove-background " (click)="util.openMenu()">
            <ion-icon class="icon-remove-margin contest " name="ribbon-outline" color="danger"></ion-icon>
        </ion-chip>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div *ngIf="course">
        <img src="{{course.img}}">
        <div class="main-content">
            <ion-row class="icon">
                <div>
                    <ion-icon class="heart" name="heart-outline"></ion-icon>
                </div>
            </ion-row>
            <div class="card">
                <div class="r-detail">
                    <div class="heading">
                        <ion-label class="title"> {{course.name}} </ion-label>
                        <ion-label class="text"> {{course.code}}</ion-label>
                        <ion-label class="text">By: {{course.fullname}}</ion-label>
                    </div>
                    <ion-row>
                        <ion-col size="3">
                            <ion-label class="title">Rating</ion-label><br>
                            <ion-label class="text">{{course.rating | number : '1.2-2'}}</ion-label>
                        </ion-col>
                        <ion-col size="3">
                            <ion-label class="title">Duration</ion-label><br>
                            <ion-label class="text">{{course.duration}}</ion-label>
                        </ion-col>
                        <ion-col size="3">
                            <ion-label class="title">Language</ion-label><br>
                            <ion-label class="text">{{course.lang}}</ion-label>
                        </ion-col>
                        <ion-col size="3">
                            <ion-label class="title">Price</ion-label><br>
                            <ion-label class="text">{{course.price | number : '1.3-3'}}</ion-label>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>
                            <ion-button expand="full" shape="round"> Buy Now</ion-button>
                        </ion-col>
                    </ion-row>
                    <div class="heading">
                        <ion-label class="title">Description </ion-label>
                        <p class="text">{{course.description}}</p>
                    </div>
                    
                </div>
                <div class="items" *ngIf="sections">
                    <div *ngFor="let item of sections">
                        <div class="name">
                            <ion-label>{{item.section_name}}</ion-label>
                        </div>
                        <ion-row *ngFor="let iten of [1]">
                            <ion-col class="ion-no-padding" size="3">
                                <img src="assets/burger.jpg">
                            </ion-col>
                            <ion-col size="9" >
                                <div class="title" (click)="goToItem()">
                                    <ion-label class="item-name">Test</ion-label>
                                    <ion-label class="calery">Test</ion-label>
                                </div>
                                <div class="item-detail" (click)="goToItem()">
                                    <ion-label>Dave watched as the forest burned up on the hill, only a few miles from her house. The car had been hastily packed and Marta was inside trying to round up the last of the pets. </ion-label>
                                </div>
                            </ion-col>
                        </ion-row>
                    </div>
                </div>
            </div>
        </div>
       
    </div>
</ion-content>
  