ion-header {
    ion-toolbar {
        .chikni {
            font-size: 12px;
            position: absolute;
            left: 15px;
            top: 0px;
        }
        ion-title {
            text-align: center;
        }
    }
}

.center-null {
    text-align: center;
}

.segment-toolbar {
    --min-height: 32px;
}

.adjust-margin {
    margin-top: -1px !important;
}

.icon-remove-margin {
    margin: 0px;
}

.remove-background {
    background-color: transparent;
}

.contest {
    box-shadow: 0 0 0 rgba(204, 169, 44, 0.4);
    animation: pulse 2s infinite;
    border-radius: 50%;
}

.contest-badge {
    position: absolute;
    right: 33px;
    top: 4px;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
    }
    70% {
        -webkit-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    }
}

@keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
        box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
        box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
        box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    }
}

.menu_div {
    background: white;
    border-radius: 16px;
    margin-bottom: 20px;
    padding: 0px 16px;
    .menu_box {
        border-bottom: 1px solid lightgrey;
        display: flex;
        align-items: center;
        position: relative;
        padding: 16px 0px;
        .color_box {
            width: 38px;
            height: 38px;
            border-radius: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            ion-icon {
                color: white;
                font-size: 18px;
            }
        }
        .menu-box-holder {
            display: flex;
            flex-direction: column;
            ion-label {
                margin-left: 16px;
                font-family: "medium";
            }
        }
        .arrow_icn {
            position: absolute;
            right: 0px;
        }
    }
}

.withoutborder {
    border: 0px !important;
}