<ion-content [fullscreen]="true">

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-slides pager="false" #Slider class="slides" (ionSlidesDidLoad)="afterslidesLoad(Slider)">
                    <ion-slide>
            <ion-img src="https://via.placeholder.com/2778x3500"></ion-img>
          </ion-slide>
      
          <ion-slide>
            <ion-img src="https://via.placeholder.com/2778x3500"></ion-img>
          </ion-slide>
      
          <ion-slide>
            <ion-img src="https://via.placeholder.com/2778x3500"></ion-img>
          </ion-slide>
        </ion-slides>
        
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <p class="main-vision">Gain more knowledege anywhere</p>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-footer class="ion-no-border">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button expand="full" shape="round" fill="solid" class="btn" href="register">
            Get started
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button expand="block" shape="round" color="light" class="btn" href="login">
            i already have an account
          </ion-button>        
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-footer>

</ion-content>
