<ion-content >
  <div class="row">
    <ion-card>
      <div class="title-div">
        <ion-label class="title">Sign Up</ion-label>
      </div>
      <div class="segments">
        <ion-segment mode="ios" value="learner">
          <ion-segment-button value="learner">
            <ion-label>Learner</ion-label>
          </ion-segment-button>
          <ion-segment-button value="tutor">
            <ion-label>Tutor</ion-label>
          </ion-segment-button>
          <ion-segment-button value="trainer">
            <ion-label>Trainer</ion-label>
          </ion-segment-button>
        </ion-segment>
      </div>
      <ion-item lines="none">
        <ion-icon slot="start" name="location-outline" color="medium"></ion-icon>
        <ion-select [(ngModel)]="getCountry" (ionChange)="getSelectCountry(getCountry,changePhone)" placeholder="Select Country" interface="popover">
          <ion-select-option value="om">Sultanate of Oman</ion-select-option>
          <ion-select-option value="kw">Kuwait</ion-select-option>
          <ion-select-option value="sa">Saudi Arabia</ion-select-option>
          <ion-select-option value="qa">Qatar</ion-select-option>
          <ion-select-option value="iq">Iraq</ion-select-option>
          <ion-select-option value="bh">Bahrain</ion-select-option>
          <ion-select-option value="ae">United Arab Emirates</ion-select-option>
        </ion-select>
      </ion-item>
      <div class="textbox">
        <ion-label position="stacked">Full Name</ion-label>
        <ion-input class="ion-no-padding" type="text"></ion-input>
      </div>
      <div class="textbox">
        <ion-label position="stacked">Email</ion-label>
        <ion-input class="ion-no-padding" type="email"></ion-input>
      </div>
      <div class="textbox">
        <ion-label position="stacked">phone</ion-label>
        <ion-item lines="none" class="ion-no-padding">
          <ion-text class="international-code">{{internationalCode}}</ion-text>
          <ion-input class="ion-no-padding phone" type="phone"></ion-input>
          <ion-img slot="start" class="flag-img" src="{{flagImage}}" ></ion-img>
        </ion-item>
      </div>
      
      <div class="textbox">
        <ion-label position="stacked">Password</ion-label>
        <ion-item lines="none" class="ion-no-padding">
          <ion-input class="ion-no-padding password" type="{{showPassword_1 ? 'text' : 'password'}}"></ion-input>
          <ion-icon slot="end" class="icon-padding" name="{{viewPassword_1}}" (click)="togglePassword(1)"></ion-icon>
        </ion-item>
      </div>
      <div class="textbox">
        <ion-label position="stacked">Confirm Password</ion-label>
        <ion-item lines="none" class="ion-no-padding">
          <ion-input class="ion-no-padding password" type="{{showPassword_2 ? 'text' : 'password'}}"></ion-input>
          <ion-icon slot="end" class="icon-padding" name="{{viewPassword_2}}" (click)="togglePassword(2)"></ion-icon>
        </ion-item>
      </div>
      <ion-button (click)="goToAddress()" shape="round">
        Register
      </ion-button>
      <div class="text-div">
        <ion-label class="text">Already have an account?
          <span (click)="goToLogin()">Sign In</span>
        </ion-label>
      </div>
    </ion-card>
  </div>
  <div class="image">
    <img class="top-img" src="https://via.placeholder.com/512x512" alt="">
    <img class="bottom-left" src="https://via.placeholder.com/512x512" alt="">
    <img class="bottom-right" src="https://via.placeholder.com/512x512" alt="">
  </div>
</ion-content>
